@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.active1 {
border-radius: 50%;
width: 25px;
height: 25px;
margin-bottom: 2px;
border: 1px solid rgb(235, 152, 27);
text-align: center;
}

.card-img-top{
    max-height: 198px;
}

.category{
    position: absolute; left:0; top:5px; border-radius: 10px;
}

.btn_time{
    width:150px; 
    height: 35px;  
    position: absolute; 
    right:0;  
    background-color: #FF8C00; 
    color:white; 
    margin:10px
}

.oneLine {
    display: inline-block;
}

input[type="checkbox"] {
width: 30px;
height: 30px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border: none;
position: relative;
}



.checkbox-container {
position: absolute;
display: inline-block;
width: 30px;
height: 30px;
overflow: hidden;
}

input[type="checkbox"]:checked {
background-image: url("image/check.png");
background-repeat: no-repeat;
}

.box {
position: relative;
width: 100%;

}

.box img {
width: 32px;
height: 32px;
}

.box .btn {
position: absolute;
color: darkcyan;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.card{

clip-path: polygon(0 0, 29% 0, 29% 7%, 100% 7%, 100% 0, 100% 26%, 100% 100%, 86% 100%, 85% 100%, 15% 100%, 0 100%, 0%
85%);

}

body {
/* margin: 0; */

background-color: #838181;
}

.center {
margin: 0 auto;
display: flex;
width: 100%;
justify-content: center;
}

.myTabs {
margin: 5px 10px;
max-width: 100%;
width: 45%;
}

.myTabs .tabsContent {
width: 100%;
}

.myTabs .tabsTitle {
display: flex;
flex-wrap: wrap;


}

.myTabs .tabsTitle .tabButton {
display: flex;
justify-content: center;
padding: 5px;
background-color: white;
color: darkgray;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
border-left: 1px solid lightgray;
flex: 1;
cursor: pointer;
transition: all .3s ease-in-out;
}

.myTabs .tabsTitle .tabButton:hover {
background-color: #5a5858;
}

.myTabs .tabsTitle .tabButton.active {
background-color:  #f7e594;;
color: #5a5858;
font-weight: bold;



}

.myTabs .tabsTitle .tabButton:first-child {
border-left: none;
}

.myTabs .tabsContent .tabContent {
background-color: #cac4c4;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
display: none;
}

.myTabs .tabsContent .tabContent .tabButton {
background-color: #cac4c4;

}

.myTabs .tabsContent .tabContent .tabButton.active {
background-color: white;

}

.myTabs .tabsContent .tabContent h2 {
font-family: Arial, Helvetica, sans-serif;
}

.myTabs .tabsContent .tabContent.active {
display: block;
}

.myTabs .tabsContent .tabContent.submain {
padding: 10px 0 0;
}

.myTabs .tabsContent .tabContent.submain .tabsTitle {
width: 98%;
margin: 10px auto;


}

.myTabs .tabsContent .tabContent.submain .tabsTitle .tabButton {
background-color: brown;
border-top: 1px solid #d47979;
}

.myTabs .tabsContent .tabContent.submain .tabsTitle .tabButton.active {
background-color: #d47979;
color: brown;
}

.myTabs .tabsContent .tabContent.submain .tabsTitle .tabButton:hover {
background-color: #d47979;
}



a {
text-decoration: none;
display: inline-block;
padding: 8px 16px;
}

a:hover {
background-color: #ddd;
color: black;
}

.previous {
background-color: #3d790d;
color: black;
}

.next {
background-color: #3d790d;
color: white;
}

.round {
border-radius: 50%;
}